<div class="field choice data-processing-register-form">
    <input class="checkbox" name="data-processing-register-form" id="data-processing-register-form" type="checkbox" data-validate="{required:true}"/>
    <label class="label" for="data-processing-register-form">
        <span><?= $block->getLayout()->createBlock(\Magento\Cms\Block\Block::class)->setBlockId('data-processing-register-form-label-txt')->toHtml(); ?></span>
    </label>
</div>
