<div class="field choice regulations-notice">
    <input class="checkbox" name="regulations-notice" id="regulations-notice" type="checkbox" data-validate="{required:true}"/>
    <label class="label" for="regulations-notice">
        <span><?= $block->getLayout()->createBlock(\Magento\Cms\Block\Block::class)->setBlockId('regulations-notice-register-form-label-txt')->toHtml(); ?></span>
    </label>
</div>
